@model Person

@{
    ViewData["Title"] = "Edit Contact";
}

<h1>Edit Contact</h1>

<div class="row">

    <div class="col-sm-5">

        <form asp-controller="ContactList" asp-action="ContactUpdate" method="POST">
            <div class="staticFormContent">
                 <div class="form-group">
                    <input value="@Model.FullName" asp-for="FullName" type="text" class="form-control" placeholder="Full Name">
                </div>
                
                <div class="form-group">
                    <input value="@Model.NickName" asp-for="NickName" type="text" class="form-control" placeholder="Nick Name">
                </div>

                <div class="form-group">
                    <input value="@Model.Address" asp-for="Address" type="text" class="form-control" placeholder="Address">
                </div>

                <div class="form-group">
                    <input value="@Model.Website" asp-for="Website" type="text" class="form-control" placeholder="Website">
                </div>

                <div class="form-group">
                    <input value="@Model.DateOfBirth.Date.ToString("yyyy-MM-dd")" asp-for="DateOfBirth" type="date" class="form-control" placeholder="Date Of Birth">
                </div>

                @{
                    var arrayCount = 0;
                    @foreach(PhoneNumber phone in Model.Phones)
                    {
                        var makeName = "Phones["+arrayCount+"].Phone";
                        arrayCount = arrayCount + 1;

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-10">
                                    <input value="@phone.Phone" name="@makeName" type="text" class="form-control phoneNumber" placeholder="Phone Number">
                                </div>
                                <div class="col-md-2"><i id="addPhone" class="fa fa-plus-circle"></i></div>
                            </div>
                        </div>
                    }
                }
               
            </div>
           
            <button type="submit" class="btn btn-primary">Update</button>

        </form>

    </div>

</div>