@model AllContactListViewModel

@{
    ViewData["Title"] = "All Contacts";
}

<h1>Full Contacts List</h1>

<div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-2">
        <form asp-controller="ContactList" asp-action="DownloadCsv" method="POST">
            <button style="margin:10px;" class="btn btn-info" name="downloadCsv">Download CSV file</button>
        </form> 
    </div>
</div>

<table id = "contactTable">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Nick Name</th>
            <th>Phone Number</th>
            <th>Address</th>
            <th>Website</th>
            <th>Date Of Birth</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    

    @foreach(Person person in Model.contactList)
    {
        <tbody>
            <tr>
                <td>@person.FullName</td>
                <td>@person.NickName</td>
                <td>
                    @foreach (var phone in person.Phones)
                    {
                        <p>@phone.Phone</p>
                    }
                </td>
                <td>@person.Address</td>
                <td>@person.Website</td>
                <td>@person.DateOfBirth</td>
                <td> 
                    <form asp-controller="ContactList" asp-action="Edit" method="POST">
                        <button class="btn btn-primary" name="personId" value="@person.Id">Edit</button>
                    </form> 
                </td>
                <td> 
                    <form asp-controller="ContactList" asp-action="ContactDelete" method="POST">
                        <button class="btn btn-danger" name="deleteButton" value="@person.Id">Delete</button>
                    </form> 
                </td>
            </tr>
        </tbody>
    }
</table>